/* styles.css */
body {
  background-color: beige;
  font-family: "Epilogue", "Victor Mono", "Kosugi", "Sorts Mill Goudy", sans-serif;
  /* font-style: Italic; */
  font-weight: 500;
}

:root {
  font-size: 14px;
  --main-color: green;
  --background-color: beige;
}

ul, li {
  margin: 0;
  padding:0;

}

ul {
    background-color: white;
}

li {
  cursor: pointer;

}

h1, h2 {
  font-family: "Victor Mono";
  font-style: italic;
  font-weight: 400;
}

button {
  font-family: "Epilogue";
  /* font-style: italic; */
  padding: 6px 12px;
  font-size: 15px;
  background-color: var(--background-color);
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

button:hover {
  background-color: var(--main-color);
  color: var(--background-color);
}


input[type="submit"] {
    font-family: "Epilogue";
  /* font-style: italic; */
  padding: 6px 12px;
  font-size: 15px;
  background-color: var(--background-color);
  border: 1px solid var(--main-color);
  color: var(--main-color);

}


.cross {
  text-decoration: line-through;
}


.todo-spans {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 8px;
}

.title::after {
  content: url(arrow-down.svg);
  width: 100%;
  height:24px;
  padding-left: 1rem;
}


.btns {
  display: flex;
  gap: 8px;
}

.two-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}



.hidden {
  display: none;
}

.project-section {
  border: 1px solid pink;
}


.remove-btn {
  background-image: url(remove.svg);
  width: 32px;
  height: 32px;
  border:none;
  background-color: white;
}

.edit-btn {
  background-image: url(edit.svg);
  width: 32px;
  height: 32px;
  border:none;
  background-color: white;
}